@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text;
    font-family: 'Mukta', sans-serif;
}

#background{
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;

    &::after {
        content: '';
        width: inherit;
        height: inherit;
        position: fixed;
        inset: 0;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%);
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    header{
        display: flex;
        align-items: center;
        column-gap: 64px;

        width: 100%;
        max-width: 1440px;
        padding-top: 24px;

        img{
            width: 70px;
            height: auto;
        }

        .navigation{
            display: flex;
            align-items: center;
            column-gap: 48px;
            list-style: none;

            li{
                .navigation_link {
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    transition: 0.4s;

                    &:hover {
                        color: red;
                    }
                }
            }
        }

        .navigation_social{
            margin-left: auto;
            display: flex;
            align-items: center;
            column-gap: 24px;

            svg{
                width: 20px;
                height: 20px;
                opacity: 0.6;
                transition: all 0.4s;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                    transform: translateY(-5px);
                }
            }
        }
    }

    main{
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 1440px;

        .main_info{
            width: 100%;
            max-width: 570px;

            .img_logo{
                width: 250px;
            }

            p{
                font-size: 18px;
                margin: 20px 0 28px;
            }

            div{
                display: flex;
                column-gap: 32px;

                a{
                    background-color: $red;
                    text-decoration: none;
                }

                button{
                    background-color: transparent;
                    border: 1px solid $green;
                }

                a, button{
                    width: 100%;
                    padding: 10px 0;
                    border-radius: 3px;

                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 0.3px;
                    cursor: pointer;

                    transform:skew(-10deg)
                }
            }
        }

        .img_personagens{
            width: 680px;
        }
    }
}




// mobile
@media screen and (max-width: 500px) { 


    #app{
        
        header{
            // display: flex;
            // justify-content: space-between;
            // align-items: center;

            max-width: 85%;
            border: 1px solid blue;

            .navigation, .navigation_social{
                display: none;
            }

            img{
                width: 55px;
            }

            .material-symbols-outlined {
                font-size: 45px;

            }
        }

        main{
            display: flex;
            justify-content: center;

            border: 1px solid red;

            .main_info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                max-width: 85%;
                height: 100%;
                // max-height: 650px;

                border: 1px solid blue;

                .img_logo{
                    width: 200px;
                }

                p{
                    text-align: center;
                    // font-size: 10px
                }

                div{
                    a, button{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        height: 70px;
                        width: 150px;

                        font-size: small;
                    }
                }
            }

            .img_personagens{
                display: none;
            }
        }
    }
}



// tablet
@media screen and (max-width: 900px) {
    #app{
        header{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .navigation_social{
                display: none;
            }

            img{
                width: 55px;
            }

            .material-symbols-outlined {
                display: none;

            }
        }

        main{
            display: flex;
            justify-content: center;

            .main_info{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                height: 100%;
                max-height: 800px;

                p{
                    text-align: center;
                    font-size: 1.3rem;
                }

                div{
                    display: flex;
                    justify-content: space-between;
                    width: 90%;

                    a, button{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        height: 70px;
                        width: 200px;

                        font-size: small;
                    }
                }
            }

            .img_personagens{
                display: none;
            }
        }
    }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.scss.map */
